{% extends "base.html" %}

{% block content %}
<div id="registerPage">
    <h2>Register</h2>
    <form method="POST" action="{{ url_for('register') }}">
        <input type="text" id="reg_name" name="name" placeholder="Enter your Name" required>
        <input type="email" id="reg_email" name="email" placeholder="Enter your Email" required>
        <input type="password" id="reg_password" name="password" placeholder="Create Password" required>
        <button type="submit">Register</button>
    </form>
    <p>Already have an account? <a href="{{ url_for('login') }}">Login</a></p>
</div>
{% endblock %}